body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
    background:url('../images/bg2.jpg') 
  }
  
  /* Global */
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  

  /* Header **/
  header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#05613e 3px solid;
  }
  header a{
    color:#ffffff;
    text-decoration:none;
    font-size:16px;
  }
  
  header li{
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#05613e;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  /* Showcase */
  #showcase{
    min-height:400px;
    /* background:url('../images/bg2.jpg') ; */
    text-align:center;
    color:#ffffff;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
    background-color: #35424a
  }
  
  
  
  footer{
    padding:10px;
    font-size: 12px;
    margin-top:10px;
    color:#ffffff;
    background-color:#05613e;
    text-align: center;
  }
  
  
  